@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
}


.container{
  width: 1170px;
  margin: auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}


/*==========================
Header Part 
============================*/

.logo {
	flex-grow: 1;
}

.menu ul{
  list-style: none;
  
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color: #484c55;
	font-size: 20px;
	padding: 30px 20px;
	display: block;
  transition:all .3s linear;
  position: relative;
}

.menu ul li a:hover{
  color: #49cbcd;
  background: #f8f9fb;
}

.menu ul li a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #49cbcd;
  bottom:0;
  left: 0;
  transition:all .3s linear;
  opacity: 0;
}

.menu ul li a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #49cbcd;
  bottom:0;
  right: 0;
  transition:all .3s linear;
  opacity: 0;
}

.menu ul li a:hover::before, .menu ul li a:hover::after{
  opacity: 1;
  width: 50%;
}

/*==========================
Slider Part 
============================*/

.single__slider{
  position: relative;
}

.slider__img img{
  width: 100%;
}

.slider__text{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider__text h1{
  font-size: 63px;
  font-weight:600;
  color: #ffffff;
  margin-bottom: 45px;
}

.slider__text p{
  color: #ffffff;
  margin-bottom: 65px;
  font-size:25px;
  line-height: 35px;
}

.slider__text a{
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
}

.owl-carousel .owl-nav button{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background: #ffffff !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}

.owl-carousel .owl-nav button span{
  color: #000000;
  font-size: 40px;
}


.owl-carousel .owl-nav .owl-prev{
  left: 50px;
}


.owl-carousel .owl-nav .owl-next{
  right: 50px;
}